<!-- Header with background image -->

<!-- https://c1.staticflickr.com/2/1334/5160008907_1a80826fdc_b.jpg -->
<!-- http://www.imperiumtapet.com/media/wallpaper/164162/image/385c9415606134a240a6_1900x1080_cropromiar-niestandardowy.jpg -->
<!-- https://mota.ru/upload/wallpapers/2015/06/18/21/04/44460/wallhaven-220483-1920x1080.jpg -->
<header class="intro-header" style="background-image: url('https://mota.ru/upload/wallpapers/2015/06/18/21/04/44460/wallhaven-220483-1920x1080.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" style="color: #FFFF99">
          <h1>Chat Chit Chat</h1>
          <hr class="small">
          <span class="subheading"><h4>Thanks God!</h4></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-lg-12">
  <h1 class="page-header text-center">
    Welcome and Goodbye!
  </h1>
</div>
<div class="panel-body" align="center">
  <h3 class="xxx text-center">or</h3>
  <h2><%= link_to "Join Chat", {:controller => 'rooms', :action => 'show'}%></h2>
  <h3 style="padding-top: 25px">or you can also</h3>
  <h3><a href="https://t.me/joinchat/AAAAAAuWhEFG6ETZY1aJVw">join this chat in Telegram</a></h3>
</div>
