<!-- Header with background image -->
<header class="intro-header" style="background-image: url('https://c1.staticflickr.com/2/1334/5160008907_1a80826fdc_b.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Chat Chit Chat</h1>
          <hr class="small">
          <span class="subheading">Yes, the theme was stolen from Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>


<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to("Link to Chat",
{:controller => 'rooms',
  :action => 'show'}) %>
