<div id="messages"
  style="overflow: auto; height: 360px; background: lemonchiffon">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="message_field" data-behavior="room_speaker">
  <input type="button" id="send_btn" value="Send">
</form>
