<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-md-8" style="padding: 10px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Chat room</h4>
        </div>

        <div id="messages"
        style="overflow: auto; height: 400px; background: lemonchiffon">
        <%= render @messages %>
      </div>

      <div class="panel-body">
        <form>
          <label>Say something clever:</label><br>
          <input class="btn btn-default" type="text" id="message_field" data-behavior="room_speaker">
          <input class="btn btn-default" type="button" id="send_btn" value="Send">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="padding: 10px">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i> Very free &amp; also Open Source</h4>
      </div>
      <div class="panel-body">
        <p>Lorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem</p>
        <a href="#" class="btn btn-default">Learn Mare</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
