<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-md-8" style="padding: 10px">
      <div id="messages"
      style="overflow: auto; height: 480px">
      <%= render @messages %>
    </div>
    <div class="panel-body">
      <form>
        <label>Say something clever:</label><br>
        <input class="btn btn-default" type="text" id="message_field" data-behavior="room_speaker" size="60">
        <input class="btn btn-default" type="button" id="send_btn" value="Send">
      </form>
    </div>
  </div>
  <div class="col-md-4" style="padding: 10px">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i> Advertising that we haven't </h4>
      </div>
      <div class="panel-body">
        <p>And will never have. Freedom! Love! Peace!</p>
        <p>Dance around the new year tree.</p>
        <p>Soul open please,</p>
        <p>and have the pleasure with</p>
        <p>this humble life </p>
        <a href="#" class="btn btn-default">Agree</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
